body {
    font-family: Arial, sans-serif;
    background-color: #a51515;
}

#ruta {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 400%;
    height: auto;
    display: block;
    margin: 0 auto;
}
